<section class="sidebar">
    <div class="app-header">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ asset('bundles/flowercore/images/icons/Packaging-100.png') }}"
                     class="img-responsive pull-left" width="40">
                <span>
                    {{ '%entity% list'|trans({'%entity%': 'Product'}, 'Product') }}
                </span>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li {% if app_dashboard is defined %}class="active"{% endif %}>
            <a href="{{ path('stock_dashboard') }}">
                {{ 'dashboard'|trans({}, 'Service')|title }}
            </a>
        </li>
        <li {% if app_service is defined %}class="active"{% endif %}>
            <a href="{{ path('service') }}">
                {{ '%entity% list'|trans({'%entity%': 'Service'}, 'Service') }}
            </a>
        </li>
        <li class="treeview {% if app_product is defined %}active{% endif %}">
            <a href="#">
                <span>
                    {{ '%entity% list'|trans({'%entity%': 'Product'}, 'Product')|title }}
                </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li {% if app_product_list is defined %}class="active"{% endif %}>
                    <a href="{{ path('product') }}">
                        {{ 'product list'|trans({}, 'Product')|title }}
                    </a>
                </li>
                <li {% if app_stock_level is defined %}class="active"{% endif %}>
                    <a href="{{ path('stock_stocklevel') }}">
                        {{ 'stockLevels'|trans({}, 'Product')|title }}
                    </a>
                </li>
            </ul>
        </li>

        <li {% if app_productcategory is defined %}class="active"{% endif %}>
            <a href="{{ path('productcategory') }}">
                {{ '%entity% list'|trans({'%entity%': 'ProductCategory'}, 'ProductCategory')|title }}
            </a>
        </li>
    </ul>
</section>