{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Service'}, 'Service') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('service_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Service')}} <i class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('service_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'Service')}} <i class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('service_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Service')}} <i class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}


{% block body %}
    <section class="content">    
        {{ include("FlowerStockBundle::appnav.html.twig", { 'app_service': true }) }} 
        <div class="box">
            <div class="box-header">
                <div class="box-tools pull-right">                    <a class="btn btn-link btn-sm" href={{ path('service_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'Service'}, 'Service') }}
                    </a>
                            </div>
            </div>
            <div class="box-body">    
            <table class="table table-hover records_list table-condensed">
                <thead>
                    <tr>                        <th scope="col">{{ thead('service', 'name', 'Name') }}</th>                        <th scope="col">{{ thead('service', 'price', 'Price') }}</th>                    </tr>
                </thead>
                <tbody>
                    {% for service in paginator %}
                        <tr>
                                                             
                                <td><a href="{{ path('service_show', {id: service.id}) }}">{{ service.name }}</a></td>
                                <td>{{ service.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {{ knp_pagination_render(paginator) }}
            </div>
        <div class="box-footer">

        </div>
        
    </section>        

{% endblock %}
