{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}Service - {{ parent() }}{% endblock %}


{% block app_menu %}
    {{ include("FlowerStockBundle::appnav.html.twig", { 'app_service': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ service.name|title }}
        </h1>
    </section>
    <section class="content">
        <div class="box"  id='showService'>
            <div class="box-header">
                <div class="box-tools  pull-right">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}

                        <div class="btn-group record_actions">
                            <button class="btn btn-link btn-sm" type="submit"> {{ 'Delete'|trans({}, 'Service') }}</button>
                            <input name="modal" type="hidden" value="0">
                            
                                <a class="btn btn-link  btn-sm" onclick="showEdit(true)">
                                    {{ 'Edit'|trans({}, 'Service') }}
                                </a>
                        </div>
                        <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover record_properties">
                    <tbody>
                        <tr>
                            <th scope="row">{{'Name'|trans({}, 'Service')}}</th>
                            <td>{{ service.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{'Price'|trans({}, 'Service')}}</th>
                            <td>{{ service.price }}</td>
                        </tr>
                        
                        <tr>
                            <th scope="row">{{'Enabled'|trans({}, 'Service')}}</th>
                            <td>{% if service.enabled %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
            
            </div>
        </div>
        <div class="box" id='editFormService'  style="display: none;">
            <div class="box-header">
                <div class="box-tools">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}
                    <div class="btn-group record_actions">
                        <button class="btn btn-link btn-sm" type="submit"> {{ 'Delete'|trans({}, 'Service') }}</button>
                        <a class="btn btn-link  btn-sm" onclick="showEdit(false)">
                        {{ 'Cancel'|trans({}, 'Account') }}
                        </a>
                    </div>
                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}
                </div>
            </div>
            <div class="box-body">

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <p>
                    <button class="btn-default btn" type="submit"> {{ 'Save'|trans({}, 'Service') }}</button>
                </p>
            {{ form_end(edit_form) }}
            </div>
            <div class="box-footer">
            </div>
        </div>
    </section>

        <div class="btn-group record_actions"></div>

        <div id="delete_confirm" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>{{ 'Confirm delete'|trans({}, 'Service') }}</h3>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'You are about to delete an item'|trans({}, 'Service') }}, {{ 'this procedure is irreversible'|trans({}, 'Service') }}.</p>
                        <p>{{ 'Do you want to proceed?'|trans({}, 'Service') }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger">{{ 'Yes'|trans({}, 'Service') }}</button>
                        <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'Service') }}</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        function showEdit(show){
            if(show){
                $('#showService').hide();
                $('#editFormService').show();
            }else{
                $('#showService').show();
                $('#editFormService').hide();
            }
        }
        
    </script>
{% endblock %}