{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'Product'}, 'Product') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerStockBundle::appnav.html.twig", { 'app_product': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('product') }}">
                {{ '%entity% list'|trans({'%entity%': 'Product'}, 'Product') }}
            </a>
            /{{ '%entity% edit'|trans({'%entity%': 'Product'}, 'Product') }}
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="box-tools">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}

                    <button class="btn btn-link btn-sm" type="submit"> {{ 'Delete'|trans({}, 'Product') }}</button>

                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}
                </div>
            </div>
            <div class="box-body">

                {{ form_start(edit_form) }}

                {{ form_row(edit_form.name) }}
                {{ form_row(edit_form.category) }}
                {{ form_row(edit_form.salePrice) }}
                {{ form_row(edit_form.costPrice) }}
                {{ form_row(edit_form.enabled) }}
                {{ form_row(edit_form.rawMaterial) }}
                {{ form_row(edit_form.supplier) }}
                {{ form_row(edit_form.file) }}
                {{ form_row(edit_form.forSale) }}

                <hr>

                <div class="form-group">

                    {{ form_label(edit_form.rawMaterials) }}

                    <div class="col-sm-10">
                        <div class="raw-materials" id="contentMaterials">
                            {% for productrawmaterial in edit_form.rawMaterials %}
                                <div class="form-group raw-materials">
                                    <div class="col-sm-3">
                                        {{ form_widget(productrawmaterial.rawMaterial) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(productrawmaterial.measureUnit) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(productrawmaterial.quantity) }}
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-link text-danger" href="#">
                                            <i class="ionicons ion-ios-trash"></i> {{ "remove" | trans({}, "Event") }}
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button class="btn-default btn" type="submit">
                            <i class="fa fa-edit"></i> {{ 'Save'|trans({}, 'Product') }}
                        </button>
                    </div>
                </div>

                <div class="hidden" id="productRawMaterialTemplate">
                    <div class="form-group reminders">
                        <div class="col-sm-3 field"
                             data-prototype="{{ form_widget(edit_form.rawMaterials.vars.prototype.rawMaterial)|e }}">
                        </div>
                        <div class="col-sm-3 field"
                             data-prototype="{{ form_widget(edit_form.rawMaterials.vars.prototype.measureUnit)|e }}">

                        </div>
                        <div class="col-sm-3 field"
                             data-prototype="{{ form_widget(edit_form.rawMaterials.vars.prototype.quantity)|e }}">
                        </div>
                        <div class="col-sm-2 tools">
                        </div>
                    </div>
                </div>

                {{ form_end(edit_form) }}
            </div>
            <div class="box-footer">


            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var tagARemove = '<button class="btn btn-link" href="#"><i class="ionicons ion-ios-trash"></i> {{ "remove" | trans({}, "Event") }}</button>';
        var tagAAddOther = '<div class="col-sm-2"><button href="#" class="btn btn-link add_tag_link"><i class="ionicons ion-plus-circled"></i> {{ "Add item" | trans({}, "Product") }}</button></div>';
    </script>
    <script src="{{ asset('bundles/flowerstock/js/rawmaterials.js') }}"></script>
{% endblock %}
