{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}Product - {{ parent() }}{% endblock %}


{% block app_menu %}
    {{ include("FlowerStockBundle::appnav.html.twig", { 'app_product': true, 'app_product_list': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ product.name|title }}
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-8">
                <div class="box">
                    <div class="box-header">
                        <div class="box-tools  pull-right">
                            {{ form_start(delete_form) }}
                            {{ form_widget(delete_form) }}

                            <div class="btn-group record_actions">
                                <button class="btn btn-link btn-sm"
                                        type="submit">{{ 'Delete'|trans({}, 'Product') }}</button>
                                <input name="modal" type="hidden" value="0">

                                <a href="{{ path('product_edit',{'id':product.id}) }}" class="btn btn-link btn-sm">
                                    {{ 'Edit'|trans({}, 'Product') }}
                                </a>

                            </div>
                            <input name="modal" type="hidden" value="0">
                            {{ form_end(delete_form) }}

                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover record_properties">
                            <tbody>
                            <tr>
                                <th scope="row">{{ 'Name'|trans({}, 'Product') }}</th>
                                <td>{{ product.name }}</td>
                            </tr>
                            {% if product.category %}
                                <tr>
                                    <th scope="row">{{ 'Category'|trans({}, 'Product') }}</th>
                                    <td>{{ product.category }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">{{ 'Sale price'|trans({}, 'Product') }}</th>
                                <td>{{ product.salePrice }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Cost price'|trans({}, 'Product') }}</th>
                                <td>{{ product.costPrice }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Stock'|trans({}, 'Product') }}</th>
                                <td>
                                    {{ product.stock }}

                                    <a class="btn btn-warning btn-xs pull-right"
                                       href="{{ path('product_stock_increase',{'id':product.id}) }}">
                                        <i class="ionicons ion-plus-circled"></i> {{ 'register_stock_entry'|trans({}, 'Product')|title }}
                                    </a>
                                    <a class="btn btn-info btn-xs pull-right"
                                       href="{{ path('product_stock_decrease',{'id':product.id}) }}">
                                        <i class="ionicons ion-minus-circled"></i> {{ 'register_stock_exit'|trans({}, 'Product')|title }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Enabled'|trans({}, 'Product') }}</th>
                                <td>
                                    {% if product.enabled %}
                                        <i class="fa fa-check-square-o"></i>
                                    {% else %}
                                        <i class="fa fa-square-o"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box">
                    <div class="box-body">
                        <img src="{{ product.image }}" class="img-responsive">
                    </div>
                </div>
            </div>

        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    {{ 'composition'|trans({}, 'Product')|title }}
                </h3>
            </div>
            <div class="box-body">
                <table class="table table-hover record_properties">
                    <thead>
                    <th>Material</th>
                    <th>{{ 'measure unit'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'quantity'|trans({}, 'Product')|title }}</th>
                    </thead>
                    <tbody>
                    {% for productRawMaterial in product.rawMaterials %}
                        <tr>
                            <td>{{ productRawMaterial.rawMaterial }}</td>
                            <td>{{ productRawMaterial.measureUnit }}</td>
                            <td>{{ productRawMaterial.quantity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    {{ 'changelog'|trans({}, 'Product')|title }}
                </h3>
            </div>
            <div class="box-body">
                <table class="table table-hover record_properties">
                    <thead>
                    <th>{{ 'date'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'type'|trans({}, 'Product')|title }}</th>


                    <th>{{ 'cause'|trans({}, 'Product')|title }}</th>


                    <th>{{ 'amount'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'balance'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'comments'|trans({}, 'Product')|title }}</th>
                    </thead>
                    <tbody>
                    {% for changeLog in changeLogs %}
                        <tr>
                            <td>{{ changeLog.date|date }}</td>
                            <td>
                                {% if changeLog.type == 0 %}
                                    <span class="text-green">{{ 'stock_entry'|trans({}, 'Product')|title }}</span>
                                {% else %}
                                    <span class="text-warning">{{ 'stock_exit'|trans({}, 'Product')|title }}</span>
                                {% endif %}
                            </td>

                            {% if product.forSale and changeLog.type == 1 %}
                                <td>{{ 'sale'|trans({}, 'Sale') }}: {{ changeLog.sale }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            <td>{{ changeLog.amount }}</td>
                            <td>{{ changeLog.balance }}</td>
                            <td>{{ changeLog.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>

    </section>

    <div class="btn-group record_actions"></div>

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'Product') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'Product') }}
                        , {{ 'this procedure is irreversible'|trans({}, 'Product') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'Product') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'Product') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'Product') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}