{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'ProductCategory'}, 'ProductCategory') }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content">
        {{ include("FlowerStockBundle::appnav.html.twig", { 'app_productcategory': true }) }} 
        <div class="box">
            <div class="box-body">

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <p>
                    <button class="btn-default btn" type="submit"><i class="fa fa-edit"></i> {{ 'Save'|trans({}, 'ProductCategory') }}</button>
                </p>
            {{ form_end(edit_form) }}
            </div>
            <div class="box-footer">
            
                    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">            <button class="btn btn-link btn-sm" type="submit"> {{ 'Delete'|trans({}, 'ProductCategory') }}</button>
            <input name="modal" type="hidden" value="0">
            
</div>
            <input name="modal" type="hidden" value="0">
        {{ form_end(delete_form) }}

</div>
        </div>
    </section>
{% endblock %}


