{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Sale'}, 'Sale') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('sale_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Sale') }} <i
                            class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('sale_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'Sale') }} <i
                            class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('sale_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Sale') }} <i
                        class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}


{% block app_menu %}
    {{ include("FlowerSalesBundle::appnav.html.twig", { 'app_sale': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{'%entity% list' |trans({}, 'Sale') }}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="box-tools pull-right">
                    <a class="btn btn-link btn-sm" href={{ path('sale_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'Sale'}, 'Sale') }}
                    </a>
                    <div class="btn-group">
                        <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                            <i class="fa fa-download"></i> {{ '%entity%'|trans({'%entity%': 'Export'}, 'Sale') }}
                        </button>
                        <ul class="dropdown-menu" style="min-width: inherit;">
                            <li>
                                <a class="btn btn-link btn-sm"
                                   href={{ path('sale_export' , {'page':paginator.currentPageNumber}) }} style="color:#CC3E32;">
                                    {{ 'This %entity%'|trans({'%entity%': 'Page'}, 'Sale') }}
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-link btn-sm" href={{ path('sale_export') }} style="color:#CC3E32;">
                                    {{ 'All %entity%'|trans({'%entity%': 'Pages'}, 'Sale') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-heading">
                <div class="btn-group">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-default btn-sm filter collapsed" data-toggle="collapse"
                                data-target="#filter">{{ 'filter'|trans| capitalize }} <i class="fa fa-filter"></i>
                        </button>
                    </div>
                </div>
                {% set open = "" %}
                {% if accountFilter |length > 0 %}
                    {% set open = "in" %}
                {% endif %}
                <div id="filter" class="collapse {{ open }} row filters-content">
                    <form method="get" action="" class=" form-horizontal">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label "
                                       for="accountFilter">{{ 'Account' | trans }}</label>
                                <div class="col-sm-8">
                                    {% set multiple = "" %}
                                    {% set icon = "ion-plus-circled" %}
                                    {% if accountFilter |length > 1 %}
                                        {% set  multiple = "multiple='true'" %}
                                        {% set icon = "ion-ios-minus-outline" %}
                                    {% endif %}
                                    <select id="accountFilter" name="accountFilter[]" {{ multiple }}
                                            class="form-control">
                                        <option value=""></option>
                                        {% set  selected = "" %}
                                        {% if "-1" in accountFilter %}
                                            {% set  selected = "selected" %}
                                        {% endif %}
                                        <option value="-1" {{ selected }}> {{ 'Not Assignee' | trans }}</option>
                                        {% for account in accounts %}
                                            {% set  selected = "" %}
                                            {% if account.id in accountFilter %}
                                                {% set  selected = "selected" %}
                                            {% endif %}
                                            <option value="{{ account.id }}" {{ selected }}>{{ account.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-sm-1">
                                    <span class="cursor-pointer text-left  ionicons {{ icon }}" style="margin-top: 8px;"
                                          onclick="toogleSelect('#accountFilter',this)"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label "
                                       for="statusFilter">{{ 'Status' | trans({},"Sale") }}</label>
                                <div class="col-sm-8">
                                    {% set multiple = "" %}
                                    {% set icon = "ion-plus-circled" %}
                                    {% if statusFilter |length > 1 %}
                                        {% set  multiple = "multiple='true'" %}
                                        {% set icon = "ion-ios-minus-outline" %}
                                    {% endif %}
                                    <select id="statusFilter" name="statusFilter[]" {{ multiple }} class="form-control">
                                        <option value=""></option>
                                        {% set  selected = "" %}
                                        {% if "-1" in statusFilter %}
                                            {% set  selected = "selected" %}
                                        {% endif %}
                                        <option value="-1" {{ selected }}> {{ 'Not Assignee' | trans }}</option>
                                        {% for status in statuses %}
                                            {% set  selected = "" %}
                                            {% if status.id in statusFilter %}
                                                {% set  selected = "selected" %}
                                            {% endif %}
                                            <option value="{{ status.id }}" {{ selected }}>{{ status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-sm-1">
                                    <span class="cursor-pointer text-left  ionicons {{ icon }}" style="margin-top: 8px;"
                                          onclick="toogleSelect('#statusFilter',this)"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-9">
                                    <a class="btn btn-default btn-sm" href="{{ path('sale') }}?reset"><i
                                                class="fa fa-times"></i> {{ 'clean' | trans | capitalize }}</a>
                                    <button class="btn btn-primary btn-sm"
                                            type="submit">{{ 'apply' | trans | capitalize }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label "
                                       for="ownerFilter">{{ 'assignee'| trans({}, 'Task') | capitalize }}</label>

                                <div class="col-sm-8">
                                    {% set multiple = "" %}
                                    {% set icon = "ion-plus-circled" %}
                                    {% if ownerFilter |length > 1 %}
                                        {% set  multiple = "multiple='true'" %}
                                        {% set icon = "ion-ios-minus-outline" %}
                                    {% endif %}
                                    <select id="ownerFilter" name="ownerFilter[]" {{ multiple }} class="form-control">
                                        <option value=""></option>
                                        {% for user in users %}
                                            {% set  selected = "" %}
                                            {% if user.id in ownerFilter %}
                                                {% set  selected = "selected" %}
                                            {% endif %}
                                            <option value="{{ user.id }}" {{ selected }}>{{ user.happyname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-sm-1">
                                    <span class="cursor-pointer text-left  ionicons {{ icon }}" style="margin-top: 8px;"
                                          onclick="toogleSelect('#ownerFilter',this)"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label"
                                       for="statusFilter">{{ 'Between Dates' | trans }}</label>
                                <div class="col-sm-4" class="input-group">
                                    <input value="{{ startDateFilter }}" placeholder="{{ 'start' | trans }}" type="text"
                                           id="filter_start_date" name="startDateFilter" class="form-control">
                                </div>
                                <div class="col-sm-4" class="input-group">
                                    <input value="{{ endDateFilter }}" placeholder="{{ 'end' | trans }}" type="text"
                                           id="filter_end_date" name="endDateFilter" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="box-body">
                <table class="table table-hover records_list table-condensed">
                    <thead>
                    <tr>
                        <th scope="col">{{ thead('sale', 'id', 'Id') }}</th>
                        <th scope="col">{{ thead('sale', 'a.name', 'Account') }}</th>
                        <th scope="col">{{ thead('sale', 'es.name', 'Status') }}</th>
                        <th scope="col">{{ thead('sale', 'u.username', 'Responsable') }}</th>
                        <th scope="col">{{ thead('sale', 'total', 'Total') }}</th>
                        <th scope="col">{{ thead('sale', 'tax', 'Tax') }}</th>
                        <th scope="col">{{ thead('sale', 'totalWithTax', 'Totalwithtax') }}</th>
                        <th scope="col">{{ thead('sale', 'observations', 'Observations') }}</th>
                        <th scope="col">{{ thead('sale', 'created', 'Created') }}</th>
                        <th scope="col">{{ thead('sale', 'updated', 'Updated') }}</th>
                        <th scope="col">{{ 'Print' | trans({},'Sale') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sale in paginator %}
                        <tr>
                            <td><a href="{{ path('sale_show', {id: sale.id}) }}"># {{ sale.id }}</a></td>
                            {% if sale.account %}
                                <td><a href="{{ path('account_show', {id: sale.account.id}) }}">{{ sale.account }}</a>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><a href="{{ path('sale_show', {id: sale.id}) }}">{{ sale.status }}</a></td>
                            <td>{{ sale.owner.happyname }}</td>
                            <td>{{ sale.total | number_format(2) }}</td>
                            <td>{{ sale.tax | number_format(2)}}</td>
                            <td>{{ sale.totalWithTax | number_format(2)}}</td>
                            <td width="20%"><a href="{{ path('sale_show', {id: sale.id}) }}">{{ sale.observations }}</a>
                            </td>
                            <td>{{ sale.created | date('fullDateTime'| trans) }}</td>
                            <td>{{ sale.updated | date('fullDateTime'| trans) }}</td>
                            <td>
                                <a href="{{ path('sale_pdf_export', {id: sale.id}) }}">factura</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(paginator) }}
            </div>
            <div class="box-footer">

            </div>

    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/scdatetimepicker/js/bootstrap-datetimepicker.min.js') }}"
            type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $field = $('#filter_start_date');
            $field.datetimepicker({
                "formatter": "js",
                "format": "dd\/mm\/yy  hh:ii",
                "autoclose": true,
                "todayBtn": true,
                "todayHighlight": true,
                "keyboardNavigation": true
            });
            $field = $('#filter_end_date');
            $field.datetimepicker({
                "formatter": "js",
                "format": "dd\/mm\/yy  hh:ii",
                "autoclose": true,
                "todayBtn": true,
                "todayHighlight": true,
                "keyboardNavigation": true
            });
        });

        function selectAll(parent) {
            $(".bulk input.bulk-check").attr("checked", parent.checked);
        }
        function toogleSelect(element, me) {
            var multiple = $(element).attr("multiple");
            if (multiple === undefined) {
                $(element).attr("multiple", true);
                $(me).addClass("ion-ios-minus-outline")
                $(me).removeClass("ion-plus-circled")
            } else {
                $(element).removeAttr("multiple");
                $(me).removeClass("ion-ios-minus-outline")
                $(me).addClass("ion-plus-circled")
            }
        }

        function CopyMe(oFileInput, sTargetID) {
            document.getElementById(sTargetID).value = oFileInput.value;
        }
    </script>
{% endblock %}
